@media only screen and (max-width: 990px) {
	.vertical-row {
	 width: 100%;
	}
	.profile-logo img{
		width: 15%;
		position:absolute;
		top: 50%;
		left: 15%;
	}
  }

@media only screen and (max-width: 770px) {
	.vertical-row {
	 width: 100%;
	}
	.profile-logo img{
		width: 15%;
		position:absolute;
		top: 90%;
		left: 15%;
	}
	.make-profile h3,p{
		margin-bottom: 0;
	}
	.make-profile p{
		line-height: 80%;
	}
  }
  @media only screen and (max-width: 576px) {
	.vertical-row {
	 width: 100%;
	}
	.profile-logo img{
		width: 4%;
		position:absolute;
		top: 20%;
		left: 15%;
	}
  
    .vertical-row-profile{
        position: absolute;
        margin-top: 2px;
    }
    .make-profile{

        position: absolute;
        left: 20%;
        bottom: 0;
        }

    .make-profile h3{
        font-size: 7px;
    }
	.make-profile h3,p{
		margin-bottom: 0;
	}
	.make-profile p{

		font-size: 5px;
	}
  }