/*Blog Post Responsive Start*/
.right-sidebar h4{
	position: relative;
}
.right-sidebar .recent-post h4::after{
  content: '';
  display: block;
  clear: both;
  border-bottom: 1px solid #3CBCED;
  position: absolute;
  top: 78%;
  left: 33%;
  height: 1px;
  width: 67%;
}
.right-sidebar .categories h4::after{
   content: '';
  display: block;
  clear: both;
  border-bottom: 1px solid #3CBCED;
  position: absolute;
  top: 88%;
  left: 26%;
  height: 1px;
  width: 74%;
}
.tags h4::after{
   content: '';
  display: block;
  clear: both;
  border-bottom: 1px solid #3CBCED;
  position: absolute;
  top: 88%;
  left: 12%;
  height: 1px;
  width: 88%;
}
@media all and (max-width: 768px){
	.right-sidebar .recent-post h4::after{
		left: 23% !important;
		width: 77% !important;
		top: 82% !important;
	}
	.right-sidebar .categories h4::after{
		left: 18% !important;
		width: 82% !important;
	}
	.tags h4::after{
		left: 9% !important;
  		width: 91% !important;
	}
	.blog-post .card .paragraph{
		font-size: 14px;
		line-height: 28px;
	}
	.pagination{
		justify-content: center !important;
	}
}
@media all and (max-width: 988px){
	.margin{
		margin-top: 50px;
	}
	.right-sidebar .recent-post h4::after{
		left: 17%;
	width: 83%;
	}
	.right-sidebar .categories h4::after{
		left: 13%;
		width: 87%;
	}
	.tags h4::after{
		left: 6%;
		width: 94%;
	}
}
@media all and (max-width: 384px){
	.right-sidebar .recent-post h4::after{
		left: 33% !important;
		width: 67% !important;
	}
	.right-sidebar .categories h4::after{
		left: 25% !important;
		width: 75% !important;
	}
	.tags h4::after{
		left: 12% !important;
		width: 88% !important;
	}
	.blog-post .card .mybtn{
		font-size: 14px !important;
	}
	.rob-man{
	  padding: 0 13px !important;
	}
	.rob-man::before,
	.rob-man::after{
		width: 106% !important;
	}
	.blog-post .card .card-title{
		font-size: 20px !important;
	}
	.blog-post .card .paragraph{
		font-size: 13.5px !important;
	}
	.right-sidebar .recent-post .card-title{
		font-size: 18px !important;
	}
}
/*Blog Post Responsive End*/